<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="learning.spring.binarytea.repository.MenuItemMapper">
    <select id="count" resultType="long">
        select count(*) from t_menu
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into t_menu
        (name, price, size, create_time, update_time)
        values
        (#{name}, #{price}, #{size}, now(), now())
    </insert>

    <update id="update">
        update t_menu
        set name = #{name}, price = #{price}, size=#{size}, update_time=now()
        where id = #{id}
    </update>

    <resultMap id="menuItem" type="learning.spring.binarytea.model.MenuItem">
        <id column="id" property="id" />
        <result column="size" property="size" typeHandler="org.apache.ibatis.type.EnumTypeHandler" />
        <result column="price" property="price" typeHandler="learning.spring.binarytea.support.handler.MoneyTypeHandler" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <select id="findById" resultMap="menuItem">
        select * from t_menu where id = #{id}
    </select>

    <delete id="deleteById" >
        delete from t_menu where id = #{id}"
    </delete>

    <select id="findAll" resultMap="menuItem">
        select * from t_menu
    </select>

    <select id="findByOrderId" resultMap="menuItem">
        select m.*
        from t_menu m, t_order_item i
        where m.id = i.item_id and i.order_id = #{orderId}"
    </select>

</mapper>