<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="learning.spring.binarytea.repository.OrderMapper">

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into t_order
        (maker_id, status, amount_discount, amount_pay, amount_total, create_time, update_time)
        values
        (#{maker.id}, #{status, typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler},
            #{amount.discount}, #{amount.payAmount}, #{amount.totalAmount}, now(), now())
    </insert>

    <insert id="addOrderItem">
        insert into t_order_item
        (order_id, item_id)
        values
        (#{orderId}, #{item.id})
    </insert>


    <resultMap id="teaMakerMap" type="learning.spring.binarytea.model.TeaMaker">
        <id column="id" property="id" />
        <collection property="orders" ofType="learning.spring.binarytea.model.Order"
                    select="learning.spring.binarytea.repository.OrderMapper.findByMakerId"
                    column="id" />
    </resultMap>

    <resultMap id="orderMap" type="learning.spring.binarytea.model.Order">
        <result column="status" property="status" typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler" />
        <result column="amount_discount" property="amount.discount" />
        <result column="amount_total" property="amount.totalAmount" />
        <result column="amount_pay" property="amount.payAmount" />
        <association property="maker"
                     select="learning.spring.binarytea.repository.TeaMakerMapper.findById"
                     column="maker_id" />
        <collection property="items"
                    select="learning.spring.binarytea.repository.MenuItemMapper.findByOrderId"
                    column="id" />
    </resultMap>

    <select id="findById" resultMap="orderMap">
        select * from t_order where id = #{id}"
    </select>

    <select id="findByMakerId" resultMap="orderMap">
        select *
        from t_order
        where maker_id = #{makerId}
    </select>

</mapper>